.geltona{
    background: yellow;
    height: 50px;
    width: 200px;
}
.zalia{
    background: green;
    height: 50px;
    width: 200px;
}

.raudona{
    background: red;
    height: 50px;
    width: 200px;

}